.button_bt {
  border-radius: 8px;
  border: none;
  background-color: rgb(31, 29, 29);
  color: white;
  margin-left: 15px;
  margin-top: 110%;
  height: 25px;
}
.button_bt2 {
  border-radius: 8px;
  border: none;
  background-color: rgb(31, 29, 29);
  color: white;
  margin-left: 15px;
  height: 25px;
  margin-top: 5%;
}
